<section class="welcome-page">
    <h1 class="title">Welcome back to <span class="wearther">Wearther</span></h1>
    <p class="subtitle">Today is {{ temperature }}°C. Would you like to see <strong class="warm" (mouseover)="onMouseOver('warm')" (mouseout)="onMouseOut()">WARM</strong> or <strong class="cold" (mouseover)="onMouseOver('cold')" (mouseout)="onMouseOut()">COLD</strong> options?</p>
    <button id="addCloathes" mat-raised-button color="primary"><mat-icon>add</mat-icon>add clothes</button>
</section>